.title h2{
    font-size: 48px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar .nav-item{
    position: relative;
}
.navbar .nav-item::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
}
.navbar .nav-item:hover::after{
    width: 65%;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
header h1{
    font-size: 60px;
}
header span{
    font-size: 30px;
}

/* -------------------------------------------------------------------- */

#about{
    padding-top: 100px;
    overflow: hidden;
}

#about .card .img .text .list span{
    font-weight: bold;
}

#about h2{
    position: relative;
}

#about h2::after{
    content: '';
    width: 20%;
    height: 4px;
    background-color: blue;
    position: absolute;
    top: 40px;
    left: 0;
} 

/* ---------------------------------------------------------- */

#services{
    overflow: hidden;
    margin-bottom: 50px;
}

#services .card{
    margin-bottom: 10px;
}

#services .card .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100px;
    height: 100px;
    border: 10px solid rgb(67, 67, 223) ;
    border-radius: 50%;
    transition: all 0.6s;
} 

#services .card:hover .circle{
    background-color: rgb(67, 67, 223);
    color: #fff;
    border: 8px solid rgb(192, 192, 198) ;
}   

/* ------------------------------------------------------- */
#portfolio{
    overflow: hidden;
    margin-bottom: 50px;
}

#portfolio i{
    color: blue;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 50%;
    font-weight: bold;
}

#portfolio .card{
    overflow: hidden;
}

#portfolio img {
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#portfolio img:hover {
    transform: scale(1.07);
}

/* ------------------------------------------------------- */

#blog{
    overflow: hidden;
    margin-bottom: 50px;
}

#blog i{
    color: black;
    border: none;
    padding: 0;
}